main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.clock_container {
    position: relative;
}

.clockface {
    width: 1000px;
    height: 100%;
    z-index: 10;
}


.hour_cog {
    --rotation: 0;
    width: 450px;
    position: absolute;
    top: 275px;
    left: 275px;
    transform-origin: center;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.minute_cog {
    --rotation: 0;
    width: 300px;
    position: absolute;
    top: 350px;
    left: 350px;
    transform-origin: center;
    transform: rotate(calc(var(--rotation) * -1deg));
}

.second_cog {
    --rotation: 0;
    width: 150px;
    position: absolute;
    top: 425px;
    left: 425px;
    transform-origin: center;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.minute_arrow {
    --rotation: 120;
    width: 60px;
    position: absolute;
    bottom: 50%;
    left: 47.5%;
    transform-origin: bottom;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.hour_arrow {
    --rotation: 60;
    width: 90px;
    position: absolute;
    bottom: 50%;
    left: 45.5%;
    transform-origin: bottom;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.holo {
    width: 258px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
}