main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: darkslateblue;
    -webkit-box-shadow: -5px 0px 29px 5px rgba(0,0,0,0.5);
    box-shadow: -5px 0px 29px 5px rgba(0,0,0,0.5);
}

.two {
    position: absolute;
    bottom: 50px;
    right: 200px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: orangered;
    -webkit-box-shadow: 5px 0px 29px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 0px 29px 5px rgba(0,0,0,0.5);
}

.three {
    position: absolute;
    bottom: 50px;
    border-radius: 10px;
    left: 200px;
    width: 500px;
    height: 200px;
    background-color: yellowgreen;
    -webkit-box-shadow: -5px 0px 29px 5px rgba(0,0,0,0.5);
    box-shadow: -5px 0px 29px 5px rgba(0,0,0,0.5);
}


.clock_container {
    position: relative;
    background: rgba( 219, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.clockface {
    width: 900px;
    height: 100%;
}


.hour_cog {
    --rotation: 0;
    width: 405px;
    position: absolute;
    top: 240px;
    left: 240px;
    transform-origin: center;
    transform: rotate(calc(var(--rotation) * -1deg));
}

.minute_cog {
    --rotation: 0;
    width: 270px;
    position: absolute;
    top: 306px;
    left: 308px;
    transform-origin: center;
    transform: rotate(calc(var(--rotation) * -1deg));
}

.second_cog {
    --rotation: 0;
    width: 135px;
    position: absolute;
    top: 374px;
    left: 375px;
    transform-origin: center;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.minute_arrow {
    --rotation: 120;
    width: 60px;
    position: absolute;
    bottom: 51%;
    left: 45.5%;
    transform-origin: bottom;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.hour_arrow {
    --rotation: 60;
    width: 90px;
    position: absolute;
    bottom: 51%;
    left: 44.5%;
    transform-origin: bottom;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.clock_plug {
    position: absolute;
    top: 46.5%;
    left: 47%;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

.holo {
    width: 258px;
    height: 400px;
    position: absolute;
    bottom: 50px;
    right: 0;
}